{% extends 'store/base.html' %}
{% block content %}
<div class="row align-items-center">
    <div class="col">
        <form id="update_user" action="/user/update/" method="POST"> {% csrf_token %}
            <label for="username">Username</label><br>
            <input id="username" name="username" minlength=3 form="update_user" value="{{user.username}}" readonly="true"><br>
            <label for="password">Password</label><br>
            <input id="password" name="password" minlength=8 form="update_user" value="" type="password" required="true"><br>
            <label for="new_password">New Password</label><br>
            <input id="new_password" name="new_password" minlength=8 form="update_user" value="" type="password"><br>
            <label for="email">Email</label><br>
            <input id="email" name="email" minlength=3 form="update_user" value="{{user.email}}" required="true"><br>
            <label for="first_name">First Name</label><br>
            <input id="first_name" name="first_name" minlength=3 form="update_user" value="{{user.first_name}}" required="true"><br>
            <label for="last_name">Last Name</label><br>
            <input id="last_name" name="last_name" minlength=2 form="update_user" value="{{user.last_name}}" required="true"><br>
            <label for="adress">Adress (include city and state)</label><br>
            <input id="address" name="address" minlength=2 form="update_user" value="{{user.address}}" required="true"><br>
            <label for="last_name">Country</label><br>
            <input list="country" name="country" minlength=2 form="update_user" value="{{user.country}}" required="true"><br><br>
            <datalist id="country">
                <option value="Brasil">
                <option value="Argentina">
            </datalist>
            <input type="submit" value="Update User">
        </form>
    </div>
    <div class="col-8">
        <div class="row align-items-center" style="margin: 10px;">
            <h3>Your Cart:</h3>
        </div>
        {% for entry in cart_items %}
        <div class="row align-items-center" style="padding:10px; margin: 10px;border-style: solid;border-width: 1px;border-color: #ddd;">
            <div class="col-3">
                {% if entry.item_id.image %}
                <img src="{{entry.item_id.image.url}}" style="height:100px;">
                
                {% else %}
                <img src="/media/none.png" style="height: 100px;">
                {% endif %}
            </div>
            <div class="col-4" id="item_name">
                <a href="/items/{{entry.item_id.id}}"><h5>{{entry.item_id.name}}</h5> </a>
            </div>
            <div class="col-2">
                <form id="update-{{entry.id}}" action="/updatecart/{{entry.id}}" method="POST">{% csrf_token %}
                    <input form="update-{{entry.id}}" type="number" name="id" value="{{entry.id}}" hidden="true">
                    <input form="update-{{entry.id}}" type="number" name="quantity" value="{{entry.quantity}}" size="7%" min="0" max="entry.item_id.inStock">
                    <input form="update-{{entry.id}}" type="submit" value="Update">
                </form>
            </div>
            <div class="col-2">
                <p>RUB {{entry.item_id.price}}</p>
            </div>
        </div>
        {% endfor %}
        <div class="row align-items-center" style="padding:10px; margin: 10px;border-style: solid;border-width: 1px;border-color: #ddd;">
            <div class="col">
                Total price - RUB {{total}}
            </div>
            <div class="col"></div>
            <div class="col-4">
                <form action="/checkout"><input type="submit" value="Checkout"></form>
            </div>
        </div>
    </div>
</div>
{% endblock %}